#text2 {
	color: #808080;
	font-size: 30px;
	font-family:  Stencil Std, fantasy;
	font-weight: normal;
	margin-right: 880px 
}
#text3 {
	color: #A9A9A9; 
	font-size: 33px;
	font-family: Stencil Std, fantasy;
	font-weight: normal;
	margin-right: 880px;
}
#text4 {
	 color:  #808080;
	 font-size: 30px;
	 font-family: Stencil Std, fantasy;
	 font-weight: normal;
	 margin-right: 880px
}

h1{
	color: black;
    font-size: 40px;
    font-weight: normal;
    font-family: Impact, fantasy;
    border-style : solid;
    border-width: 2px;
    border-color: black; 
    background-color: #e60000;

}
#img1 {
	margin-right: 880px;
	border : 3px solid #e60000  ;
}
#img2 {
	margin-right: 880px;
	border : 3px solid #e60000 ;
}
#img3 {
	margin-right: 880px;
	border : 3px solid #e60000 ;
}
#specs1 {
	color:  #808080;
	 font-size: 20px;
	 font-family: Stencil Std, fantasy;
	 font-weight: normal;
	 margin-right: 880px
}